<div class="card cartao">
    <div class="card-header">
        <div class="float-start">
            <h4>Cursos</h4>
        </div>
        <div class="float-end">
            <button type="button" class="btn btn-dark" [routerLink]="['/novo']">
                Novo Curso
            </button>
        </div>
    </div>
    <div class="card-body">
        <table *ngIf="cursos$ | async as cursos; else loading" class="table table-hover tabela">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Curso</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let curso of cursos">
                    <td> {{ curso.id }} </td>
                    <td> {{ curso.nome }} </td>
                    <td>
                        <span class="float-end">
                            <button class="btn btn-outline-success mb-1 btn-sm" (click)="onEdit(curso.id)">
                                Atualizar
                            </button>
                            <button class="btn btn-outline-danger mb-1 btn-sm">
                                Remover
                            </button>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
        <ng-template #loading >
            <span class="fs-4">Carregando Cursos...</span>
        </ng-template>
    </div>
</div>
