<form class="row g-3 needs-validation" novalidate [formGroup]="form">
  <div class="col-sm-12">
    <label for="nome" class="form-label">Nome do Curso</label>
    <input 
        type="text"
        class="form-control" 
        id="nome" 
        placeholder="Nome do Curso"
        formControlName="nome"
        [ngClass]="{ 'is-invalid': submitted && hasError('nome')}"
        >
    <div class="invalid-feedback fs-5" *ngIf="hasError('nome')">
      Esse não é um nome valido.
    </div>
    <div>
      <button type="submit" class="fs-4 m-2 btn btn-success"
        (click)="onSubmit()" 
      >Salvar</button>
      
       <button type="button" class="fs-4 m-2 btn btn-danger"
        (click)="onCancel()"
       >Calcelar</button>

    </div>
  </div>
</form>
